@page "/"
@inject ProjectService projectService
@using BugTracker.Shared.Models;

<label>List of Projects</label>
<select @bind="@selectedProjectId">
    @foreach(var project in Projects){
        <option value="@project.Id">
            Name: @project.Name
            Description: @project.Description
        </option>
    }

</select>

@code{
    int selectedProjectId { get; set; } = 1000;
    private IEnumerable<GetProjectModel> Projects { get; set; }
    protected override void OnInitialized(){

        Projects = projectService.GetAllProjects().Result;
        return;
    }
}